<div class="container">
<h1>Articles Index</h1>

<% @articles.each do |article| %>
	<h2><%= article.title %></h2>
	<p>Published at <%= article.created_at.localtime.strftime('%A, %B %-d, %Y at %l:%M %p') %></p>
	<p><%= truncate(article.content, length: 200) %></p>
	<p><%= image_tag article.image.url(:thumb) %></p>
	<p><%= link_to "View", article_path(article) %></p>
<% end %>

<!--  link_to "New Article", new_article_path -->

<br />
<%= link_to "Sign Up", signup_path %>
<br />

<% if logged_in? %>
Logged in as: <%= current_user.name %> <br/> <%= link_to 'Log Out', logout_path, method: :delete %>
<% else %>
<%= link_to 'Log In', login_path %>
<% end %>
</div>