<div class="users-control edit">
	

<div class="container form-group">
<br/>
<h1>Edit Your Profile!</h1>
<%= form_for @user do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control', :value => @user.name %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email, class: 'form-control', :value => @user.email %>
	</div>	
	<div>
		<%= f.label :image %>
		<%= f.file_field :image, class: 'form-control' %>
	</div>
	<div style="text-align: center">
		<%= f.label :remove_image %><%= f.check_box :remove_image, class: 'form-control' %>
		<%= image_tag @user.image.url(:full) %>	
	</div>
	<div>
		<%= f.submit 'Update', class: 'btn btn-primary' %>
	</div>
<% end %> 
</div>

</div>