<div class="container">
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
	<div>
		<%= f.label :remove_image %>
		<%= f.check_box :remove_image %>

		<%= image_tag @user.image.url(:full) %>
		<%= f.file_field :image %>
	</div>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name, :value => @user.name %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email, :value => @user.email %>
	</div>
	
	<div>
		<%= f.label :image %>
		<%= f.file_field :image %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %> 
</div>