<div class="container form-group" style="width: 50%;">
<br/>
<h1>Edit Your Profile!</h1>
<%= form_for @user do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control', :value => @user.name %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email, class: 'form-control', :value => @user.email %>
	</div>	
	<div>
		<%= f.label :image %>
		<%= f.file_field :image, class: 'form-control' %>
	</div>
	<div>
		<%= f.label :remove_image %>
		<%= f.check_box :remove_image, class: 'form-control' %>
		<%= image_tag @user.image.url(:full) %>	
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %> 
</div>